ROS_SETUP_BASH=/opt/ros/humble/setup.bash
LOCALIZATION_WS_ROOT=/tmp/sunray_slam_ws
LOCALIZATION_WS_SETUP_BASH=${LOCALIZATION_WS_ROOT}/install/setup.bash
SUNRAY_RUN_DIR=${SUNRAY_SLAM_ROOT}/.runtime/reloc/run
SUNRAY_LOG_DIR=${SUNRAY_SLAM_ROOT}/.runtime/reloc/logs
RELOC_MAP_FILE=${SUNRAY_SLAM_ROOT}/data/office.ply
ROS_DOMAIN_ID=0
RELOC_LIVOX_HOST_IFACE=eth0
RELOC_LIVOX_HOST_IP=192.168.1.5
RELOC_TOPIC_WAIT_TIMEOUT_SEC=300
RELOC_MIN_BOOT_AGE_SEC=45
RELOC_LIVOX_SETTLE_SEC=10
RELOC_FASTLIO_SETTLE_SEC=5
RELOC_FASTLIO_CONFIG_FILE=mid360.yaml
RELOC_OPEN3D_PCD_QUEUE_MAXSIZE=5
RELOC_OPEN3D_INIT_FITNESS_THRESHOLD=0.75
